* {
  background-color: #f9a8d4;
}
h1 {
  color: #be185d;
}

#el {
  background-color: #fbcfe8;
  width: 250px;
  height: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px 360px;
  font-size: 20px;
}
button {
  margin: 10px 440px;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #ec4899;
  color: white;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
button:hover {
  background-color: #be185d;
  outline: 1px solid #065f46;
}
h1 {
  align-items: center;
  text-align: center;
}
#result {
  margin: 30px 410px;
  font-weight: bold;
  color: #be185d;
  font-size: 20px;
}
