#el {
  background-color: pink;
  width: 250px;
  height: 40px;
  text-align: center;
  justify-content: center;
  margin: 20px 300px;
}
button {
  margin: 10px 370px;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  background-color: #059669;
  color: white;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
button:hover {
  background-color: #34d399;
  outline: 1px solid #065f46;
}
